In [198]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import requests
import openpyxl

In [199]:
#   Visualisere og beholde info om XP-points for neste GW, sammenligne med forrige GW. Lagre i excel/CSV fil og oppdatere den for hver runde. 
#   1. Få tak i data-en som skal visualiseres og beholdes.
#    - latest_optimal_plan_data.groupby("week")[["xP"]].sum() 
# 
#    week	xP
#   17	  63.43
#   18	  66.31
#   19	  56.86

latest_optimal_plan_data = pd.read_csv("../output/optimal_plan_regular.csv")

# latest_optimal_plan_data.groupby("week")[["xP"]].sum()

In [200]:
latest_optimal_plan_data.head(16)

,Unnamed: 0,week,name,pos,type,team,buy_price,sell_price,xP,xMin,lineup,bench,captain,vicecaptain,transfer_in,transfer_out
0,8,34,Ederson,GKP,1,Man City,5.4,5.4,8.55,89,1,-1,0,0,0,0
1,12,34,Trippier,DEF,2,Newcastle,6.2,6.1,5.33,84,1,-1,0,0,0,0
2,6,34,Robertson,DEF,2,Liverpool,6.8,6.8,7.88,76,1,-1,0,0,0,0
3,9,34,Dias,DEF,2,Man City,6.0,6.0,7.90,75,1,-1,0,0,0,0
4,7,34,Alexander-Arnold,DEF,2,Liverpool,7.6,7.5,10.06,85,1,-1,0,0,0,0
5,1,34,Mac Allister,MID,3,Brighton,5.5,5.4,8.14,69,1,-1,0,0,0,0
6,2,34,Mitoma,MID,3,Brighton,5.6,5.3,8.21,73,1,-1,0,0,0,0
7,0,34,March,MID,3,Brighton,5.3,5.2,8.46,78,1,-1,0,0,0,0
8,11,34,Rashford,MID,3,Man Utd,7.2,7.1,10.00,79,1,-1,0,0,0,0
9,5,34,Salah,MID,3,Liverpool,13.0,12.9,13.07,78,1,-1,0,1,0,0
10,10,34,Haaland,FWD,4,Man City,12.4,12.3,13.22,74,1,-1,1,0,0,0
11,3,34,Arrizabalaga,GKP,1,Chelsea,4.6,4.6,3.15,86,0,0,0,0,0,0
12,13,34,Botman,DEF,2,Newcastle,4.5,4.5,4.47,83,0,2,0,0,0,0
13,4,34,Greenwood,FWD,4,Leeds,4.0,4.0,0.41,7,0,3,0,0,0,0
14,14,34,Isak,FWD,4,Newcastle,6.9,6.8,4.98,68,0,1,0,0,0,0
15,24,35,Ederson,GKP,1,Man City,5.4,5.4,4.14,88,1,-1,0,0,0,0

In [201]:
# def start_ellever(next_gw, data):
#         next_gw= data.loc[(data["week"]==next_gw)& (data['lineup']== 1) &]
#         return next_gw


_#gw17_start_players = latest_optimal_plan_data.loc[(latest_optimal_plan_data['week']==17) & (latest_optimal_plan_data['lineup']== 1)]


# # sns.barplot(data=gw17_start_players, x="xP", y="name")
# sns.set_theme(style="whitegrid", palette="pastel")

# # # Initialize the matplotlib figure
# f, ax = plt.subplots(figsize=(20, 5))


            
# sns.set_color_codes("dark")
# sns.barplot(x="xP", y="name", data=gw17_start_players.sort_values("xP", ascending=False),label="xP startspillere", color="b")   





           

# # Add a legend and informative axis label
# ax.legend(ncol=1, loc="lower right", frameon=True)
# # ax.set(xlim=) her setter jeg størrelsen på figure. Aksen går her fra 0 til 100
# ax.set(xlim=(0, 10),  ylabel= "", xlabel="xP startspillere")
# sns.despine(left=True, bottom=False)

# # # label each bar in barplot https://medium.com/swlh/quick-guide-to-labelling-data-for-common-seaborn-plots-736e10bf14a9
# for p in ax.patches: 
#         height = p.get_height() # height of each horizontal bar is the same
#         width = p.get_width() # width 
#         # adding text to each bar
#         ax.text(x = width+0.1, # x-coordinate position of data label, padded 1 to right of bar
#         y = p.get_y()+(height/2), # # y-coordinate position of data label, padded to be in the middle of the bar
#         s = "{:.0f}".format(width), # data label, formatted to ignore decimals
#         va = "center") # sets vertical alignment (va) to center

,Unnamed: 0,week,name,pos,type,team,buy_price,sell_price,xP,xMin,lineup,bench,captain,vicecaptain,transfer_in,transfer_out
0,8,34,Ederson,GKP,1,Man City,5.4,5.4,8.55,89,1,-1,0,0,0,0
1,12,34,Trippier,DEF,2,Newcastle,6.2,6.1,5.33,84,1,-1,0,0,0,0
2,6,34,Robertson,DEF,2,Liverpool,6.8,6.8,7.88,76,1,-1,0,0,0,0
3,9,34,Dias,DEF,2,Man City,6.0,6.0,7.90,75,1,-1,0,0,0,0
4,7,34,Alexander-Arnold,DEF,2,Liverpool,7.6,7.5,10.06,85,1,-1,0,0,0,0
5,1,34,Mac Allister,MID,3,Brighton,5.5,5.4,8.14,69,1,-1,0,0,0,0
6,2,34,Mitoma,MID,3,Brighton,5.6,5.3,8.21,73,1,-1,0,0,0,0
7,0,34,March,MID,3,Brighton,5.3,5.2,8.46,78,1,-1,0,0,0,0
8,11,34,Rashford,MID,3,Man Utd,7.2,7.1,10.00,79,1,-1,0,0,0,0
9,5,34,Salah,MID,3,Liverpool,13.0,12.9,13.07,78,1,-1,0,1,0,0
10,10,34,Haaland,FWD,4,Man City,12.4,12.3,13.22,74,1,-1,1,0,0,0
11,3,34,Arrizabalaga,GKP,1,Chelsea,4.6,4.6,3.15,86,0,0,0,0,0,0
12,13,34,Botman,DEF,2,Newcastle,4.5,4.5,4.47,83,0,2,0,0,0,0
13,4,34,Greenwood,FWD,4,Leeds,4.0,4.0,0.41,7,0,3,0,0,0,0
14,14,34,Isak,FWD,4,Newcastle,6.9,6.8,4.98,68,0,1,0,0,0,0
15,24,35,Ederson,GKP,1,Man City,5.4,5.4,4.14,88,1,-1,0,0,0,0

In [202]:
# sns.set_theme(style="white", palette="pastel")

# sns.lineplot(data=latest_optimal_plan_data.groupby("week").sum(numeric_only=True), x="week", y="xP")

xP =[]
for i in range(1,34):
    xP.append(0)

In [203]:
team_id = "2821496"
current_week = "19"
url = "https://fantasy.premierleague.com/api/entry/"+team_id+"/event/"+current_week+"/picks/"
my_team_data = requests.get(url)
my_team_data = my_team_data.json()
my_team_data["entry_history"]["points"]

70

In [204]:
points=[]
Week=[]
def get_team_points(week, id):
    team_id = id
    current_week = str(week)
    url = "https://fantasy.premierleague.com/api/entry/"+team_id+"/event/"+current_week+"/picks/"
    my_team_data = requests.get(url)
    my_team_data = my_team_data.json()
    Week.append(current_week)
    points.append(my_team_data["entry_history"]["points"])

In [205]:
for i in range(1,34):
    get_team_points(i, "2821496")

In [206]:
print(points)
print(Week)
faktiske_poeng={"Uke":Week, "Poeng":points}

[67, 79, 44, 83, 79, 40, 0, 66, 78, 58, 59, 54, 71, 43, 57, 63, 83, 58, 70, 52, 75, 92, 96, 67, 95, 56, 98, 66, 110, 43, 53, 56, 62]
['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33']

In [207]:
df_poeng_xP = pd.DataFrame(faktiske_poeng)
df_poeng_xP.set_index("Uke", inplace=False)
df_poeng_xP["xP"]= xP
df_poeng_xP.to_csv("../output/Poengsammendrag")

df_poeng_xP.at[16,'xP']=62
df_poeng_xP.at[18,'xP']=70
df_poeng_xP.at[19,'xP']=77
df_poeng_xP.at[20,'xP']=55
df_poeng_xP.at[21,'xP']=100
df_poeng_xP.at[22,'xP']=107
df_poeng_xP.at[23,'xP']=58
df_poeng_xP.at[24,'xP']=101
df_poeng_xP.at[25,'xP']=60
df_poeng_xP.at[26,'xP']=101
df_poeng_xP.at[27,'xP']=57
df_poeng_xP.at[28,'xP']=98
df_poeng_xP.at[29,'xP']=54
df_poeng_xP.at[30,'xP']=58
df_poeng_xP.at[31,'xP']=65
df_poeng_xP.at[32,'xP']=55

In [208]:
# sns.set_theme(style="white", palette="pastel")

# # sns.lineplot(data=df_poeng_xP, x="Uke", y="Poeng")

# # Add a legend and informative axis label
# ax.legend(ncol=1, loc="lower right", frameon=True)
# # ax.set(xlim=) her setter jeg størrelsen på figure. Aksen går her fra 0 til 100
# ax.set(xlim=(0, 10),  ylabel= "Poeng", xlabel="xP startspillere")

# sns.despine(left=True, bottom=False)

# # plot line graph
# sns.set(rc={"figure.figsize":(10,10)})
# ax = sns.lineplot(data=df_poeng_xP, x="Uke", y="Poeng" ,marker="*", color="#965786")
# ax1 = sns.lineplot(data=df_poeng_xP, x="Uke", y="xP" ,marker="*")
# ax.set(title="Poeng for hver uke")# label points on the plot
# for x, y in zip(df_poeng_xP["Uke"], df_poeng_xP["Poeng"]):
#  # the position of the data label relative to the data point can be adjusted by adding/subtracting a value from the x &/ y coordinates
#         plt.text(x = x, # x-coordinate position of data label
#         y = y, # y-coordinate position of data label, adjusted to be 150 below the data point
#         s = "{:.0f}".format(y), # data label, formatted to ignore decimals
#         color = "purple") # set colour of line
# for x, y in zip(df_poeng_xP["Uke"], df_poeng_xP["xP"]):
#  # the position of the data label relative to the data point can be adjusted by adding/subtracting a value from the x &/ y coordinates
#         plt.text(x = x, # x-coordinate position of data label
#         y = y, # y-coordinate position of data label, adjusted to be 150 below the data point
#         s = "{:.0f}".format(y), # data label, formatted to ignore decimals
#         color = "purple") # set colour of line

In [209]:
# lage funksjoner som legger inn nye uker. https://pythonexamples.org/pandas-dataframe-add-append-row/

In [210]:
def points_without_cap (data, next_gw):
    """Gir summen av xP uten kapteinen, kan gjøres bedre etterhvert tenker jeg"""
    return data.loc[(data["week"]==next_gw)& (data['lineup']== 1) & (data["captain"]!=1), ["xP"]].sum()

In [211]:
def double_captain_points(data, next_gw):
    """Gir sum av kapteinens totalepoeng for gitte uke. Sett at dataframe inneholder week, xP og captain kolonner"""
    data.loc[(data["captain"] ==1) & (data["week"]==next_gw), ["xP"]]*2
    return data.loc[(data["captain"] ==1) & (data["week"]==next_gw), ["xP"]]*2

In [212]:

def expected_points(data, next_gw):
    """Funksjon som bruker to andre funksjoner for å hente summen av xP for Next_gw i datasett"""
    doubled_captain= double_captain_points(data, next_gw)
    
    expected_points= points_without_cap(data, next_gw)

    return int(expected_points.sum() + doubled_captain.sum())

In [213]:
expected_points(latest_optimal_plan_data, 26)

0

In [214]:

def add_new_row(data, gameweek):
    """Legger til ny row med data"""
    # if (data['Uke'].eq(f'{gameweek}')).any() == False:
    new_row = {'Uke':f"{gameweek}", 'Poeng':0, #get_team_points(gameweek, 2821496), 
    'xP':expected_points(latest_optimal_plan_data, gameweek)}
    new_row2= pd.Series(new_row)
    #append row to the dataframe
    data.loc[len(data.index)] = new_row2
    return data

def get_team_points(week, id):
    team_id = str(id)
    current_week = str(week)
    url = "https://fantasy.premierleague.com/api/entry/"+team_id+"/event/"+current_week+"/picks/"
    my_team_data = requests.get(url)
    my_team_data = my_team_data.json()
    return my_team_data["entry_history"]["points"]

In [215]:
df_poeng_xP

   Uke  Poeng   xP
0    1     67    0
1    2     79    0
2    3     44    0
3    4     83    0
4    5     79    0
5    6     40    0
6    7      0    0
7    8     66    0
8    9     78    0
9   10     58    0
10  11     59    0
11  12     54    0
12  13     71    0
13  14     43    0
14  15     57    0
15  16     63    0
16  17     83   62
17  18     58    0
18  19     70   70
19  20     52   77
20  21     75   55
21  22     92  100
22  23     96  107
23  24     67   58
24  25     95  101
25  26     56   60
26  27     98  101
27  28     66   57
28  29    110   98
29  30     43   54
30  31     53   58
31  32     56   65
32  33     62   55

In [216]:
# def poeng_vs_expected_graf(data, gameweek):
#     sns.set_theme(style="white", palette="pastel")
#     f, ax = plt.subplots(figsize=(10, 8))
#     sns.despine(left=True, bottom=False)
#     ax = sns.lineplot(data=add_new_row(data, gameweek), x="Uke", y="Poeng", marker="o", color="#28A745", label="Faktisk poeng")
#     ax1 = sns.lineplot(data=add_new_row(data, gameweek), x="Uke", y="xP", marker="o", color="#6CB2EB", label="Forventet poeng")
#     ax.set(title="Poeng vs. forventet poeng for hver uke", xlabel="Uke", ylabel="Poeng")
#     ax.legend()
#     for x, y in zip(add_new_row(data, gameweek)["Uke"], add_new_row(data, gameweek)["Poeng"]):
#         plt.text(x=x, y=y, s="{:.0f}".format(y), color="#28A745")
#     for x, y in zip(add_new_row(data, gameweek)["Uke"], add_new_row(data, gameweek)["xP"]):
#         plt.text(x=x, y=y, s="{:.0f}".format(y), color="#6CB2EB")
#     plt.tight_layout()
#     plt.savefig('../output/chart.png')

In [217]:
# poeng_vs_expected_graf(df_poeng_xP, 25)

In [218]:
poeng_mean = df_poeng_xP["Poeng"].mean()
    
    # Calculate the mean of the "xP" column, excluding zero values
xp_mean = df_poeng_xP[df_poeng_xP["xP"] != 0]["xP"].mean()
xp_mean
poeng_mean

65.84848484848484

In [219]:
# import plotly.graph_objs as go
# import plotly.offline as pyo

# def poeng_vs_expected_graf(data, gameweek):
#     # Create a line plot using Plotly
#     fig = go.Figure()
#     fig.add_trace(go.Scatter(x=data["Uke"], y=data["Poeng"], mode="lines+markers", name="Faktisk poeng"))
#     fig.add_trace(go.Scatter(x=data["Uke"], y=data["xP"], mode="lines+markers", name="Forventet poeng"))
#     fig.update_layout(title="Poeng vs. forventet poeng for hver uke", xaxis_title="Uke", yaxis_title="Poeng")
    
#     # Save the plot as an HTML file
#     pyo.plot(fig, filename="../output/chart.html", auto_open=False)


# poeng_vs_expected_graf(df_poeng_xP, 25)


# import plotly.graph_objs as go
# import plotly.offline as pyo

# def poeng_vs_expected_graf(data, gameweek):
#     # Create a line plot using Plotly
#     fig = go.Figure()
#     fig.add_trace(go.Scatter(x=data["Uke"], y=data["Poeng"], mode="lines+markers", name="Faktisk poeng"))
#     fig.add_trace(go.Scatter(x=data["Uke"], y=data["xP"], mode="lines+markers", name="Forventet poeng"))
#     fig.update_layout(title="Poeng vs. forventet poeng for hver uke", xaxis_title="Uke", yaxis_title="Poeng")
    
#     # Generate the HTML code for the plot
#     plot_html = pyo.plot(fig, output_type='div')
    
#     # Return the HTML code as a string
#     return plot_html


import plotly.graph_objs as go
import plotly.offline as pyo

def poeng_vs_expected_graf(data, gameweek):
    # Calculate the mean of the "Poeng" column
    poeng_mean = data[data["Poeng"] != 0]["Poeng"].mean()
    
    # Calculate the mean of the "xP" column, excluding zero values
    xp_mean = data[data["xP"] != 0]["xP"].mean()
    
    # Create a line plot using Plotly
    fig = go.Figure()
    fig.add_trace(go.Scatter(x=data["Uke"], y=data["Poeng"], mode="lines+markers", name="Faktisk poeng"))
    fig.add_trace(go.Scatter(x=data[data["xP"] != 0]["Uke"], y=data[data["xP"] != 0]["xP"], mode="lines+markers", name="Forventet poeng"))
    fig.add_shape(type="line", x0=data["Uke"].min(), y0=poeng_mean, x1=data["Uke"].max(), y1=poeng_mean, line=dict(color="blue", width=5, dash="dot"), name="Gjennomsnitt faktisk poeng")
    fig.add_shape(type="line", x0=data["Uke"].min(), y0=xp_mean, x1=data["Uke"].max(), y1=xp_mean, line=dict(color="red", width=5, dash="dot"), name="Gjennomsnitt forventet poeng")
    
    fig.add_annotation(x=data["Uke"].max(), y=poeng_mean, text=f"Gjennomsnitt faktisk poeng: {poeng_mean:.2f}", showarrow=False, font=dict(size=12, color="black"), yshift=10)
    fig.add_annotation(x=data["Uke"].max(), y=xp_mean, text=f"Gjennomsnitt forventet poeng: {xp_mean:.2f}", showarrow=False, font=dict(size=12, color="black"), yshift=10)
    fig.update_layout(
        title="Poeng vs. forventet poeng for hver uke",
        xaxis_title="Uke",
        yaxis_title="Poeng",
        legend=dict(
            x=1.0,
            y=1.0,
            bgcolor="rgba(240, 240, 240, 240)",
            bordercolor="grey",
            borderwidth=1,
            font=dict(size=16)
        ),
        plot_bgcolor="rgb(175, 175, 175)",
        paper_bgcolor="rgb(175, 175, 175)",

        height=800,
        font=dict(size=16)
        ,
        xaxis=dict(showgrid=False),
        yaxis=dict(showgrid=False)
    )
    
    # Generate the HTML code for the plot
    plot_html = pyo.plot(fig, output_type='div')
    
    # Return the HTML code as a string
    return plot_html

In [220]:
def startlag(data, gameweek):
   """Henter startelleveren ut i fra optimal plan csv"""
   startellever= data.loc[(data["week"]==gameweek)& (data['lineup']== 1)]
   startellever2 = startellever.drop(["Unnamed: 0","week", "type", "xMin", "bench", "transfer_in", "transfer_out"], axis = 1)
   startellever2.loc[startellever2["captain"]==1, ["xP"]] *=2
   return startellever2

def benklag(data, gameweek):
   benk = data.loc[(data["week"]==gameweek)& (data['bench']>= 1)]
   benk2 = benk.drop(["Unnamed: 0","week", "type", "xMin", "captain", "vicecaptain","lineup", "transfer_in", "transfer_out"], axis = 1)
   
   return benk2.sort_values(by=['bench'])

# def transfer_in(data, gameweek):
#    transferin= data.loc[(data["week"]==gameweek)& (data['transfer_in']== 1), ["name","team"]].values[0]
#    return str(transferin)

# def transfer_out(data, gameweek):
#    transferout= data.loc[(data["week"]==gameweek)& (data['transfer_out']== 1), ["name","team"]].values[0]
#    return str(transferout)

# def transfer_in(data, gameweek):
#    transferin = data.loc[(data["week"]==gameweek) & (data['transfer_in']== 1), ["name","team"]]
#    return [f"{x[0]} {x[1]}" for x in transferin.values]

# def transfer_out(data, gameweek):
#    transferout = data.loc[(data["week"]==gameweek) & (data['transfer_out']== 1), ["name","team"]]
#    return [f"{x[0]} {x[1]}" for x in transferout.values]

def transfer_in(data, gameweek):
   transferin = data.loc[(data["week"]==gameweek) & (data['transfer_in']== 1), ["name","team"]]
   return [f"{x[0]} ({x[1]})" for x in transferin.values]

def transfer_out(data, gameweek):
   transferout = data.loc[(data["week"]==gameweek) & (data['transfer_out']== 1), ["name","team"]]
   return [f"{x[0]} ({x[1]})" for x in transferout.values]

In [221]:
transfer_in(latest_optimal_plan_data, 28)

[]

In [222]:
startlag(latest_optimal_plan_data,23).sum()

name           0.0
pos            0.0
team           0.0
buy_price      0.0
sell_price     0.0
xP             0.0
lineup         0.0
captain        0.0
vicecaptain    0.0
dtype: float64

In [223]:
from openpyxl.chart import LineChart, Reference

In [224]:
df_poeng_xP

   Uke  Poeng   xP
0    1     67    0
1    2     79    0
2    3     44    0
3    4     83    0
4    5     79    0
5    6     40    0
6    7      0    0
7    8     66    0
8    9     78    0
9   10     58    0
10  11     59    0
11  12     54    0
12  13     71    0
13  14     43    0
14  15     57    0
15  16     63    0
16  17     83   62
17  18     58    0
18  19     70   70
19  20     52   77
20  21     75   55
21  22     92  100
22  23     96  107
23  24     67   58
24  25     95  101
25  26     56   60
26  27     98  101
27  28     66   57
28  29    110   98
29  30     43   54
30  31     53   58
31  32     56   65
32  33     62   55

In [225]:
def rapport(data, gameweek):
    """
    Generate an HTML report for a given Fantasy Premier League (FPL) gameweek.

    Parameters:
    - data (pandas DataFrame): The FPL data for the current season.
    - gameweek (int): The gameweek number for which to generate the report.

    Returns:
    - None

    The report includes:
    - A title and introduction text
    - Any transfers made in/out for the gameweek
    - The user's starting lineup with captain and vice-captain highlighted
    - The total expected points for the starting lineup
    - The user's bench lineup
    - A graph comparing the user's actual points to their expected points for the gameweek
    """
    # 1. Set up multiple variables to store the titles, text within the report
    page_title_text = 'FPL rapport'
    title_text = 'Eiriks FPL rapport'
    introtext = f'Hei, her er rapport for gameweek {gameweek}'
    startlagtekst = 'Startlag der kapteinen har fått poengene sine doblet'
    inntekst = 'bytt inn'
    uttekst = "bytt ut"



    transfer_in_list = transfer_in(data, gameweek)
    transfer_out_list = transfer_out(data, gameweek)

    if transfer_in_list or transfer_out_list:
        bytter = "<h2>Bytter:</h2>\n\n"
    if transfer_in_list:
        bytter += f"<p>Bytt inn: {' | '.join(transfer_in_list)}</p>\n\n"
    if transfer_out_list:
        bytter += f"<p>Bytte ut: {' | '.join(transfer_out_list)}</p>\n\n"
    else:
        bytter = "<p>Ingen bytter.</p>"

    # bytter = f"Bytt inn: <br>{', '.join(transfer_in(data,gameweek))}<br><br>Bytte ut: <br>{', '.join(transfer_out(data,gameweek))}"

    benktekst = "Her er benken din"
    graftekst = "Graf med oversikt over faktiske poeng og expected points"
    sum_expected = round(startlag(data, gameweek)["xP"].sum(), 0)
    sum_expected_points_tekst =  f"Forventet poeng med dette laget er: {sum_expected}"

# format the `sum_expected_points_tekst` text with a larger font size and green color
    sum_expected_points_html = f'<span style="font-size: 1.3em; color: green;">{sum_expected_points_tekst}</span>'

    data2 = startlag(data, gameweek).drop(['buy_price', 'sell_price', 'lineup', 'captain', 'vicecaptain'], axis=1)

# rename the columns
    data2 = data2.rename(columns={'name': 'Navn', 'team': 'Lagnavn', 'pos': 'Posisjon', 'xP': 'Forventet poeng'})
    data2_highlight = data2.style.format({'Forventet poeng': '{:.0f}'}).highlight_max(subset=['Forventet poeng'], color='green')
    
        # Generate the HTML code for the plot
    plot_html = poeng_vs_expected_graf(df_poeng_xP, gameweek)
    
    captain = startlag(data,gameweek).loc[startlag(data,gameweek)['captain'] == 1, ['name', 'team']].squeeze()
    vice_captain = startlag(data,gameweek).loc[startlag(data,gameweek)['vicecaptain'] == 1, ['name', 'team']].squeeze()
    captain_html = (
    "<p>Dette er kapteinen: {} ({})</p>"
    "<p>Dette er vice-captain: {} ({})</p>").format(captain['name'], captain['team'], vice_captain['name'], vice_captain['team'])




   

    html = f'''
    <!DOCTYPE html>
    <html>
        <head>
            <title>{page_title_text}</title>
            <style>
                body {{
                    font-family: Arial, sans-serif;
                    line-height: 1.5;
                    padding: 20px;
                    background-color: #1F1F1F;
                    color: #EFEFEF;
                }}
                h1 {{
                    font-size: 2em;
                    text-align: center;
                    margin-bottom: 20px;
            }}
            h2 {{
                font-size: 1.5em;
                margin-top: 30px;
                margin-bottom: 20px;
                border-bottom: 2px solid #6E7F80;
                padding-bottom: 5px;
            }}
            h3 {{
                font-size: 1.2em;
                margin-top: 30px;
                margin-bottom: 20px;
                border-bottom: 1px solid #6E7F80;
                padding-bottom: 5px;
            }}
            p {{
                font-size: 1.1em;
                margin-bottom: 20px;
            }}
            table {{
                border-collapse: collapse;
                width: 100%;
                margin-bottom: 20px;
            }}
            th, td {{
                border: 1px solid #6E7F80;
                padding: 8px;
                text-align: left;
            }}
            th {{
                background-color: #3A3A3A;
                color: #EFEFEF;
            }}
            .green {{
                background-color: #2E8B57;
                color: #EFEFEF;
            }}
            .red {{
                background-color: #FF6347;
                color: #EFEFEF;
            }}
            .orange {{
                background-color: #FFA500;
                color: #EFEFEF;
            }}
        </style>
    </head>
    <body>
        <h1>{title_text}</h1>
        <p>{introtext}</p>
        {bytter}
        <h2>{startlagtekst}</h2>
        {captain_html}
        {data2_highlight.to_html(classes='green', index=False)}
        <p>{sum_expected_points_html}</p>
        <h3>{benktekst}</h3>
        {benklag(data, gameweek).to_html(classes='grey', index=False)}
        <h2>{graftekst}</h2>
        {plot_html}
    </body>
</html>
'''


# 3. Write the html string as an HTML file
    with open('../output/html_report.html', 'w') as f:
        f.write(html)

In [226]:
# import plotly.express as px

# df = px.data.iris()
# fig = px.scatter(df, x="sepal_width", y="sepal_length")
# fig.show()

In [227]:
# pos_categories = pd.Categorical(['GKP', 'DEF', 'MID', 'FWD'], ordered=True)
# print(startlag(latest_optimal_plan_data, 25) .shape)
# print(pos_categories)
grouped = startlag(latest_optimal_plan_data, 32).groupby(['pos', 'team', 'name']).size().reset_index(name='count')
print(grouped)

Empty DataFrame
Columns: [pos, team, name, count]
Index: []

In [231]:
rapport(latest_optimal_plan_data, 35)

In [229]:
startlag(latest_optimal_plan_data,32)

Empty DataFrame
Columns: [name, pos, team, buy_price, sell_price, xP, lineup, captain, vicecaptain]
Index: []

In [230]:
pivot = pd.pivot_table(startlag(latest_optimal_plan_data,25), index = ['name', 'team', "pos"], values = 'xP', aggfunc = 'sum' ).sort_values(by='pos')
pivot_highlight = pivot.style.format({'xP':'{0:,.0f}'})\
    .highlight_max(color='green')

pivot_highlight